name: Broken Links Checker
on:
  push:
    branches: [master]
  schedule:
    # Run at midnight every sunday
    - cron: "0 0 * * 0"

jobs:
  Broken_Link_Checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          folder-path: "markdown"
          use-quiet-mode: "yes"
          config-file: ".github/workflows/brokenlinks-config.json"
