name: PR Comment
on:
  pull_request: 
    branches: [ master ]

jobs:
  pr-comment:
    name: Add guidelines comment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: harupy/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.MARC_TOKEN }}
        with:
          filename: comment-content.md
