name: Weekly link checker
on:
  schedule:
    # Run at midnight every sunday
    - cron: "0 0 * * 0"
  workflow_dispatch:

jobs:
  weekly_broken_Link_Checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: "yes"
          config-file: ".github/brokenlinks-config.json"

      - name: Create Issue
        if: failure()
        uses: JasonEtco/create-an-issue@v2.9.2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          filename: .github/action-issue-template.md
          assignees: tamimigithub
